/* 
  Write here your CSS rules for HackYourRepo!
*/
/* 
  Write here your CSS rules for HackYourRepo!
*/
/* 
  Write here your CSS rules for HackYourRepo!
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 98%;
}
body {
  width: 80vw;
  text-align: left;
  margin: 0 auto;
  justify-items: center;
}
#container {
  width: 80vw;
  height: 100vh;
  background-color: rgba(205, 209, 216, 0.349);
  margin: 0 auto;
}
#header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 2% 6%;
  background-color: rgba(20, 175, 214, 0.904);
  margin: 0.2% auto;
  height: max-content;
  color: white;
  font-size: 1.3rem;
  box-shadow: 3px 3px 3px #aaaaaa;
  text-shadow: 0 0 3px #04031d, 0 0 5px rgba(66, 30, 226, 0.822);
}

#content {
  display: inline;

  /* box-sizing: border-box; */
  justify-content: space-between;
  margin: 1% auto;
  width: 98%;
  /* box-shadow: 3px 3px 3px #aaaaaa; */
  padding: 0%;
  line-height: 150%;
  font-size: 1.3rem;
  color: rgb(8, 31, 65);
}
#content section {
  border: 1px solid rgba(128, 128, 128, 0.445);
  box-shadow: 3px 3px 3px #aaaaaa;
  width: 55%;
  margin: 0 0.5%;
  padding: 4%;
  background-color: white;
  float: left;
}
#content section h5 {
  color: rgba(7, 32, 102, 0.945);
  font-size: 1.2rem;
}
#content section span {
  color: rgba(6, 16, 37, 0.979);
  font-weight: 500;
  font-size: 1rem;
}
#content section h5 a {
  text-decoration: none;
}
#content #contributors section {
  color: rgba(7, 32, 102, 0.692);
  font-size: 1em;
}
#content section h5 a span {
  color: rgb(0, 89, 255);
}
#header select {
  padding: 1.2%;
  width: 50%;
}
#contributors {
  display: flex;
  flex-direction: column;
  float: right;
  width: 43%;
}
#contributors section {
  width: 97%;
}
#contributors h5 {
  display: flex;
  justify-content: space-between;
}
#contributors h5 a span {
  background-color: white;
  padding: 7% 5% 5% 10%;
}
#contributors h5 span {
  background-color: rgb(181, 231, 240);
  width: 20%;
  padding: 2%;
  border-radius: 5%;
  text-align: center;
}
.avatar-img {
  width: 50px;
}
.contributor-content {
  margin-top: 10px;
  padding: 5px;
  box-shadow: 3px 3px 3px #aaaaaa;
}
#error {
  width: 100%;
  padding: 2% 6%;
  background-color: rgba(250, 144, 129, 0.904);
  margin: 2% auto;
  height: max-content;
  color: rgb(146, 3, 3);
  font-size: 1.3rem;
  text-align: center;
}
footer {
  background-color: rgba(20, 175, 214, 0.904);
  padding: 2% 3%;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 3px 3px 3px #aaaaaa;
  text-shadow: 0 0 3px #04031d, 0 0 5px rgba(66, 30, 226, 0.822);
}
@media (max-width: 1024px) {
  body {
    width: 100vw;
  }
  #container {
    width: 100vw;
  }
}
@media (max-width: 414px) {
  #header {
    flex-wrap: wrap;
  }
  #content {
    display: block;
  }
  #content section {
    width: 98%;
    clear: both;
  }
  #contributors {
    clear: both;
    width: 100%;
    text-align: center;
    margin: auto auto;
    float: left;
  }
  #header h1 {
    margin: 3%;
  }
  #header select {
    padding: 3%;
    margin: 2%;
  }
}
